.cart-icon {
border-radius: 50px;
height: 150px;
width: 100px;
}

.pic {
border-radius: 60%;
opacity: .7;
position: absolute;
left: 105%;
bottom: 25%;
}

.back {
color: white;
position: absolute;
bottom: 20%;
background-color: #4B4B4B;
width: 500px;
height: 400px;
border-radius: 20px;
opacity: .8;
}

.back p {
font-family: calibri;
padding: 15px;
font-size: 20px;
}

.image {
width: 200px;
margin-left: 20px;
}